{% extends 'trainerapp/base.html' %}

{% block title %}Read{% endblock %}

{% block content1 %}
    <a href="/trainer/create/"><h3>Add new trainer</h3></a> 
{% endblock %}

{% block content %}
    <div class="container" id="read">
        <p>Our trainers are the following:</p>
        {% if all_trainers %}
            <ul>
                {% for trainer in all_trainers %}
                <li><span class='info'>{{trainer.firstname}} </span>
                    <span class='info'>{{trainer.lastname}}, </span>
                    <span class='info'>{{trainer.subject}}</span>
                  
                    {% if user.moderator.is_moderator %}
                        
                        <a href="/trainer/update/{{ trainer.id }}" class="btn btn-sm btn-success">
                            <span class="glyphicon glyphicon-trash">Update </span><i class="fa-solid fa-pencil"></i>
                          </a>
                        <a href="/trainer/delete/{{ trainer.id }}" class="btn btn-sm btn-danger">
                            <span class="glyphicon glyphicon-trash">Delete </span><i class="fa-solid fa-trash-can"></i> 
                          </a>
                    
                    {% endif %}
                   
                    
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No trainers added.</p>
        {% endif %}
    </div>
{% endblock %}