{% extends 'trainerapp/base.html' %}

{% block title %}Update Trainer{% endblock %}
{% block content1 %}
    <a href="/trainer/read/"><h3> &#128281; See all trainers</h3></a> 
{% endblock %}

{% block content %}
    <form method='POST'>
        {% csrf_token %}
        <div class="container">
            <h3>Update trainer</h3>
            <div class="form-group">
                <label for="update_firstname"><strong>First name</strong>:</label>
                <input type="text" class="form-control" name="update_firstname" id="update_firstname" value={{trainer.firstname}}>           
            </div>
            <div class="form-group">
                <label for="update_lastname"><strong>First name</strong>:</label>
                <input type="text" class="form-control" name="update_lastname" id="update_lastname" value={{trainer.lastname}}>           
            </div>
            <div class="form-group">
                <label for="update_subject"><strong>First name</strong>:</label>
                <input type="text" class="form-control" name="update_subject" id="update_subject" value={{trainer.subject}}>           
            </div>
  
        <button type='submit' class="btn btn-success">Update</button>
        </div>
    </form>
{% endblock %}